@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-sans text-white;
}

p {
	@apply font-sans leading-9 text-lg;
}

h1 {
	@apply font-serif text-white text-[150px] uppercase leading-normal;
}

h2 {
	@apply font-serif text-white text-[100px] uppercase leading-normal;
}

h3 {
	@apply font-serif text-white text-[56px] uppercase leading-normal;
}

h4 {
	@apply font-serif text-white text-[32px] uppercase leading-normal;
}

h5 {
	@apply font-sansCon text-lavender tracking-[4.75px] uppercase leading-normal;
}

.subheadingOne {
	@apply font-serif text-white text-[28px] uppercase leading-normal;
}

.subheadingTwo {
	@apply font-sansCon text-[16px] tracking-[2.75px] uppercase leading-normal;
}

/* HEADER */

.logoBorder {
	@apply bg-slate-400 w-0 h-[1px] mr-[-100px] relative z-[50];
}

.animatedBorder {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 100%;
	background: #fff;
}

.borderDark {
	border-color: #383b4b;
}
