@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-sans text-white;
}

p {
	@apply leading-9 text-lg;
}

h1 {
	@apply font-serif text-white text-[150px] uppercase;
}

h2 {
	@apply font-serif text-white text-[100px] uppercase;
}

h3 {
	@apply font-serif text-white text-[56px] uppercase;
}

h4 {
	@apply font-serif text-white text-[32px] uppercase;
}

h5 {
	@apply font-sans text-lavender text-[28px] tracking-[4.75px] uppercase;
}

.subheadingOne {
	@apply font-serif text-white text-[28px] uppercase;
}

.subheadingTwo {
	@apply font-sans text-[16px] tracking-[2.75px] uppercase;
}

/* HEADER */

.logoBorder {
	@apply bg-slate-400 w-0 h-[1px] mr-[-100px] relative z-[50];
}

/*** DESTINATIONS ****/

.destinationContent {
	display: none;
	opacity: 0;
	transition: all 0.3s ease;
}

.destinationContent.show {
	display: block;
	opacity: 1;
}
