.animatedBorder {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
}

.activeBorder {
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
}
